.todo-list-item {
    cursor: default;
    list-style-type: none;
    padding: 10px;
    width: 500px;
    border: 1px solid #d1d1d1;
    margin-bottom: -1px;
    background: white;
    display: flex;
    align-items: center;
}

.todo-list-item-text {
    font-size: 17px;
    width: 370px;
}

.todo-list-item-handle {
    position: relative;
    top: 1px;
    display: block;
    width: 18px;
    height: 11px;
    opacity: .25;
    margin-right: 20px;
    background: -webkit-linear-gradient(top,#000,#000 20%,#fff 0,#fff 40%,#000 0,#000 60%,#fff 0,#fff 80%,#000 0,#000);
    background: linear-gradient(180deg,#000,#000 20%,#fff 0,#fff 40%,#000 0,#000 60%,#fff 0,#fff 80%,#000 0,#000);
}

.todo-list-item-remove {
    display: none;
    margin-left: auto;
}

.todo-list-container-listen-hover .todo-list-item:hover .todo-list-item-remove {
    display: flex;
}

.todo-list-container-listen-hover .todo-list-item-handle {
    cursor: row-resize  ;
}

.todo-list-item .btn {
    padding: 0 9px;
}

@media (min-width: 768px) {
    .todo-list-container {
        position: absolute;
        left: 150px;
        padding-left: 0;
    }
}

.todo-list-container {
    display: flex;
    flex-direction: column;
}