.todo-list-item {
    cursor: default;
    list-style-type: none;
    width: fit-content;
    margin-bottom: -1px;
    background: white;
    display: flex;
    border: 1px solid #d1d1d1;
    padding: 10px;
    align-items: center;
}

.todo-list-item-main {
    width: 500px;
    display: flex;
    align-items: center;
    border-right: 1px solid #d1d1d1;;
}

.btn-default.focus, .btn-default:focus, .btn-default.active,
.btn-default:active, .open>.dropdown-toggle.btn-default, .btn-default.active,
.btn-default:active, .open>.dropdown-toggle.btn-default, .btn-default:hover,
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover,
.btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    background-color: white;
    border-color: #ccc;
    box-shadow: none;
}

.dropdown button {
    width: 110px;
    text-align: left;
}

.todo-list-item-status .caret {
    float: right;
    margin-top: 9px;
}

.todo-list-item-status .dropdown {
    width: 110px;
}

.todo-list-item-status > div.btn-toolbar {
    margin: 0;
}

.todo-list-item-text {
    font-size: 17px;
    width: 410px;
}

.todo-list-item-handle {
    position: relative;
    top: 1px;
    display: block;
    width: 18px;
    height: 11px;
    opacity: .25;
    margin-right: 20px;
    background: -webkit-linear-gradient(top,#000,#000 20%,#fff 0,#fff 40%,#000 0,#000 60%,#fff 0,#fff 80%,#000 0,#000);
    background: linear-gradient(180deg,#000,#000 20%,#fff 0,#fff 40%,#000 0,#000 60%,#fff 0,#fff 80%,#000 0,#000);
}

.todo-list-item-remove {
    visibility: hidden;
    opacity: 0;
    margin-left: auto;
    margin-right: 10px;
}

.todo-list-container-listen-hover .todo-list-item-main:hover .todo-list-item-remove {
    visibility: visible;
    opacity: 1;
}

.todo-list-container-listen-hover .todo-list-item-handle {
    cursor: row-resize  ;
}

.todo-list-item .btn {
    padding: 0 9px;
}

@media (min-width: 768px) {
    .todo-list-container {
        position: absolute;
        left: 151px;
        padding-left: 0;
    }
}

.todo-list-container {
    display: flex;
    flex-direction: column;
}