@media all and (min-width: 480px) {
    .form-main form {
        padding-top: 30px;
    }

    .form-main, .error-label {
        margin: 0 auto;
        max-width: 320px;
    }

    .error-label {
        height: 20px;
        margin-bottom: 10px;
    }

    .form-main > a {
        margin-top: 5px;
    }
}